/* -------------------container_h1 */
.container_h1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
@media screen and (min-width:900px) {
    .container_h1 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .container_box1_h1 {
        width: 62rem;
    }
}
/* -------------------container_h1 */



/* -------------------container_1 */
.container_1 {
    margin-bottom: 4rem;
    margin-top: 5rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_1_box1 {
    width: 90%;
}
.container_1_box1 img{
    width: 100%;
}
.home__header {
    width: 90%;
}
.home__header img{
    width: 100%;
}
@media screen and (min-width:900px) {
    .container_1 {
        margin-top: 3rem;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container_1_box1 {
        width: 90%;
    }
    }
/* -------------------container_1 */
    
/* -------------------container_2 */
.container_2 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_2_box1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_2_box2 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
@media screen and (min-width:900px) {
    .container_2 {
        width: 75%;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .container_2_box1 {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .container_2_box2 {
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    }
/* -------------------container_2 */

/* -------------------container_3 */
.container_3 {
    margin-bottom: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_3_box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_3_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_3_box3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_3 img {
    width: 90%;
}

@media screen and (min-width:900px) {
.container_3 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container_3_box1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_3_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_3_box3 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_3 img {
    width: 90%;
}
.container_1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_1_box1 {
    width: 90%;
}
}
/* -------------------container_3 */
  


/* -------------------container_produkte_left */
.container_produkte_left {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.container_produkte_left img {
    width: 27rem;
}
.container_produkte_box2_left {
    width: 27rem;
    height: 27rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media screen and (min-width: 1050px) {
    .container_produkte_left {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .container_produkte_left img {
        width: 30rem;
    }
    .container_produkte_box2_left {
        width: 30rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 1rem;
    }
    }
/* -------------------container_produkte_left */

/* -------------------container_produkte_right */
.container_produkte_right {
    width: 90%;
    gap: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.container_produkte_right img {
    width: 27rem;
}
.container_produkte_box2_right {
    width: 27rem;
    height: 27rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media screen and (min-width: 1050px) {
    .container_produkte_right {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .container_produkte_right img {
        width: 30rem;
    }
    .container_produkte_box2_right {
        width: 30rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-left: 1rem;
    }
    }
/* -------------------container_produkte_right */

/* -------------------container_space */
.container_space {
    margin-bottom: 4rem;
    margin-top: 4rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_space_box1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_space_box1 img{
    width: 30%;
}
@media screen and (min-width:900px) {
    .container_space {
        margin-bottom: 4rem;
        margin-top: 4rem;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container_space_box1 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_space_box1 img{
        width: 10%;
    }
    }
/* -------------------container_space */


/* -------------------container_ueberUns */
.container_ueberUns {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_ueberUns_box1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.container_ueberUns_box2 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
}
.container_ueberUns img{
    width: 100%;
}
.container_ueberUns_img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_ueberUns_logo {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_ueberUns_logo img {
    width: 5rem;
}
@media screen and (min-width:1000px) {
    .container_ueberUns {
        width: 80%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
    }
    .container_ueberUns_box1 {
        width: 90%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin-bottom: 1rem;
        padding-right: 2rem;
    }
    .container_ueberUns_box2 {
        width: 90%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .container_ueberUns img{
        width: 100%;
    }
    .container_ueberUns_img {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 3rem;
    }
    .container_ueberUns_logo {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .container_ueberUns_logo img {
        width: 5rem;
        margin-top: 5rem;
    }
}
/* -------------------container_ueberUns */



/* -------------------nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    color: white;
    padding: 1em;
    text-align: center;
    background-color: #3b343b;
    background-repeat: no-repeat;
    background-size: cover;
  } 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar img {
    width: 3rem;
    height: 3rem;
  }
  .logo {
    margin-left: 3rem;
  }
  .navbar-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 3rem;
  }
  .menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
  }
  @media screen and (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background-color: #3b343b;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbar-links.show {
      display: flex;
    }
    .navbar-links a {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .menu-icon {
      display: block;
      margin-right: 2rem;
    }
  }
/* -------------------nav */

/* -------------------footer */
footer {
    width: 100%;
    height: 18rem;
}
.container_footer {
    background-color: #3b343b;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.container_footer_box_1 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.container_footer_box_1 img {
    width: 4rem;
}
.container_footer_box_2 {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
}
.container_footer_box_3 {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}
.container_footer_box_3 img {
    width: 2.5rem;
}
@media screen and (min-width: 800px) {
    footer {
        width: 100%;
        height: 6rem;
    }
    .container_footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .container_footer_box_1 {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .container_footer_box_1 img {
        width: 4rem;
    }
    .container_footer_box_2 {
        width: 13rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .container_footer_box_3 {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .container_footer_box_3 img {
        width: 1.8rem;
    }
}
/* -------------------footer */


/* -------------------kontakt */
.container_kontakt {
    margin-bottom: 2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_kontakt_box1 {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.container_kontakt_box1 p {
    font-size: 16px;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    letter-spacing: 5%;
    padding: 0;
    margin: 0;
  }
  .container_kontakt_box1 h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
  }
  .container_kontakt_box3 p {
    font-size: 16px;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    letter-spacing: 5%;
    padding: 0;
    margin: 0;
  }
.container_kontakt_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.container_kontakt_box3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.container_kontakt img {
    width: 90%;
}

@media screen and (min-width:900px) {
.container_kontakt {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.container_kontakt_box1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_kontakt_box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_kontakt_box3 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container_kontakt img {
    width: 90%;
}
.container_kontakt {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_kontakt_box1 {
    width: 90%;
}
}
/* -------------------container_kontakt */


/* --------------------------------------------shop_container_alle1*/
.shop_container_alle1 {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_onlineShop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
}
.onlineShop__item1 {
    margin-bottom: 1rem;
}
.onlineShop__item1 img {
    width: 25rem;
}
.onlineShop__item2 {
    margin-bottom: 1rem;
}
.onlineShop__item3 {
    margin-bottom: 1rem;
}
.onlineShop__item4 {
    margin-bottom: 1rem;
}
.onlineShop__item4 input {
    padding: 1rem;
    border: none;
    border: solid 1px rgba(0, 0, 0, 0.76);
    border-radius: 9px;
}
.onlineShop__item5 {
    margin-bottom: 1rem;
}
   @media screen and (min-width:1040px) {
        .container_onlineShop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width:60rem;
            margin-bottom: 3rem;
        }
        .onlineShop__item1 {
            margin-bottom: 1rem;
        }
        .onlineShop__item1 img {
            width: 25rem;
        }
        .onlineShop__item2 {
            margin-bottom: 1rem;
        }
        .onlineShop__item3 {
            margin-bottom: 1rem;
        }
        .onlineShop__item4 {
            margin-bottom: 1rem;
        }
        .onlineShop__item4 input {
            padding: 1rem;
            border: none;
            border: solid 1px rgba(0, 0, 0, 0.76);
            border-radius: 9px;
        } 
        .onlineShop__item5 {
            margin-bottom: 1rem;
        }
    }
/* --------------------------------------------shop_container_alle1*/



/* --------------------------------------------shop_container_alle2 */
.shop_container_alle2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_onlineShop2 {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_onlineShop3 {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop__item2_1 {
    margin-bottom: 1rem;
}
.shop__item2_2 {
    margin-bottom: 1rem;
}
.shop__item2_3 {
    margin-bottom: 5rem;
}
.shop__item3_2 {
    margin-bottom: 1rem;
}
.shop__item3_4 {
    margin-bottom: 1rem;
}
@media screen and (min-width:1040px) {
    .shop_container_alle2 {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container_onlineShop2 {
        width: 60rem;
        display: flex;
        align-items: end;
        flex-direction: column;
    }
    .container_onlineShop3 {
        width: 60rem;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .shop__item2_1 {
        margin-bottom: 1rem;
    }
    .shop__item2_2 {
        margin-bottom: 1rem;
    }
    .shop__item2_3 {
        margin-bottom: 0rem;
    }
    .shop__item3_2 {
        margin-bottom: 1rem;
    }
    .shop__item3_4 {
        margin-bottom: 1rem;
    }
}

/* --------------------------------------------shop_container_alle2 */



/* -------------------------------------------- kontaktEmail__containerbox */

.kontaktEmail__containerbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.239);
    border-radius: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
}
.kontaktEmail__containerbox h2 {
    color: white;
}
.kontaktEmail__containerbox p {
    color: white;
}
.kontaktEmail__containerbox input {
    padding: 0.5rem;
    width: 20rem;
    border-radius: 9px;
    border: none;
    border: solid 1px rgba(0, 0, 0, 0.76);
}
.kontaktEmail__containerbox textarea {
    padding: 0.5rem;
    width: 20rem;
    border-radius: 9px;
    height: 10rem;
    border: none;
    border: solid 1px rgba(0, 0, 0, 0.76);
}
.kontaktEmail__containerbox_eins {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kontaktEmail__containerbox_zwei {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (min-width:1040px)  {

.kontaktEmail__containerbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}
.kontaktEmail__containerbox input {
    padding: 0.5rem;
    width: 20rem;
    border-radius: 9px;
    border: none;
    border: solid 1px rgba(0, 0, 0, 0.76);
}
.kontaktEmail__containerbox textarea {
    padding: 0.5rem;
    width: 20rem;
    border-radius: 9px;
    height: 5rem;
    border: none;
    border: solid 1px rgba(0, 0, 0, 0.76);
}
.kontaktEmail__containerbox_eins {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kontaktEmail__containerbox_zwei {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}

/* -------------------------------------------- kontaktEmail__containerbox */